// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#user-list{
  
  margin-right: auto;
  margin-left: auto;

  #users{
    li {
      font-size: 20px;
      border: 2px solid red;
      border-radius: 5px;
      float: left;
      width: 220px;
      height: 80px;
      margin: 20px;
      line-height: 80px;
      background-color: #dbddff;
    };
    img {
      margin: 15px;
      width: 50px;
      height: 50px;
      float: left;
      border-radius: 100%;
      border: 2px solid white;
      vertical-align: middle;
    }
  }

}