html, body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  background: #99CCFF;
  background-image: linear-gradient(top, #99CCFF 0%, #6699CC 400px);
  background-image: -o-linear-gradient(top, #99CCFF 0%, #6699CC 400px);
  background-image: -moz-linear-gradient(top, #99CCFF 0%, #6699CC 400px);
  background-image: -webkit-linear-gradient(top, #99CCFF 0%, #6699CC 400px);
  background-image: -ms-linear-gradient(top, #99CCFF 0%, #6699CC 400px);
  background-attachment: fixed;
  color : #313131;
  height: 100%;
}

body {
  padding: 20px;
}


.skill input {
  border: 0em;
  padding: 0em;
  position: relative;
  outline: none;
  float: left;
}

#content {
  width: 60em;
  background: white;
  padding: 2em;
  border-radius: 0.5em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0.5em 0.5em 2em #6699CC;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

h1.name {
  /*font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;*/
  font-size: 4em;
  text-shadow: 0.1em 0.05em 0.05em #999;
  margin-bottom: 0.25em;
}

h2.bio {
  margin-bottom: 1em;
}

h3.mission {
  letter-spacing: 0.1em;
}

ul {
  list-style-type: none;
}

#bio {
  height: 15em;
}

.bio-image {
  float: left;
}

.bio-text {
  margin-left: 14em;
  position: relative;

}

.shadowed {
  border-radius: 1em;
  box-shadow: 1em 2em 6em #999999;
}

#projects {
  margin-top: 5em;
  clear: left;
}

.project, .new-project {
  padding-top: 5em;
  clear: left;
}

.sortable {
  background-image: image-url('sort-arrows.png');
  width: 20px;
  height: 35px;
  cursor: move;
  float:left;
  position: relative;
  top: 4.5em;
}

.info {
  margin-left: 1em;
  width: 40em;
  float: left;
}

.project-image {
  float: left;
  margin-right: 1em;
}

.project-details {

}

.skills {
  font-size: 0.8em;
  height: 3em;
}

ul.skill-list li {
  float: left;
}

.skill {
  display: inline-block;
  position: relative;
  top: 0.1em;
  float: left;
  margin-bottom: 4px;
  margin-right: 6px;
  background-color: white;
  height: 18px;
  border-radius: 14px;
  border: 1px #DFCBDB solid;
  padding: 5px 4px 1px 11px;
}

.edit-body{
  width: 20em;
  height: 3em;
}

.body {
  margin-left: 20em;
}

.body ul {
  list-style-type: square;
  padding-left: 1em;

}

.skill-label {
  float: left;
  line-height: 30px;
  margin-right: 10px;
  font-weight: bold;
}

.skill .name {
  float: left;
}

.skill .delete {
  display: inline-block;
  text-indent: -9999px;
  background: transparent image-url("remove-button.png") no-repeat 0px 0px;
  width: 17px;
  height: 17px;
  cursor:pointer;
  margin-left: 8px;
  position: relative;
  top: -1px;
  float:right;
}

.add-skill {
  background: transparent image-url("add-button.png");
  text-indent: -9999px;
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.remove-project {
  width: 27px;
  height: 27px;
  text-indent: -9999px;
  background: transparent image-url("delete-icons.png") no-repeat;
  cursor: pointer;
  margin-left: 800px;
}

.hidden-edit {
  display: none;
}

.clear {
  clear: both;
}


.myButton {
  
  -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
  -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
  background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
  
  background-color:#33bdef;
  
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  
  border:1px solid #057fd0;
  
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  
  text-shadow:0px -1px 0px #5b6178;
  
}
.myButton:hover {
  
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
  background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
  
  background-color:#019ad2;
}
.myButton:active {
  position:relative;
  top:1px;
}
